* {
  margin: 0;
  padding: 0;
}

body,
html {
  width: 100%;
  height: 100%;
  background: #F3F4F6;
  overflow: hidden;
  font-family: Helvetica, arial, sans-serif;
  font-weight: 200px;
}

a {
  text-decoration: none;
}

body {
  box-sizing: border-box;
  padding-top: 6%;
}

.floating_body {
  max-width: 1140px;
  max-height: 640px;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  border-radius: 2px;
  box-sizing: border-box;
  background: #fff;
  -webkit-box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.2);
  overflow-x: hidden;
}

.logo {
  display: block;
  width: 100%;
  height: 56px;
  padding: 20px 0;
  box-sizing: border-box;
  background: #999999;
}

.logo img {
  display: block;
  width: 150px;
  margin: 0 auto;
}

.content_wrap,
.side_bar {
  box-sizing: border-box;
}

.side_bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 22%;
  height: 100%;
  background: #ddd;
}

.side_bar nav {
  width: 150px;
  margin: 0 auto;
}

.side_bar nav li,
.side_bar nav ol,
.side_bar nav ul {
  list-style: none;
}

.side_bar nav ul > li {
  font-size: 100%;
  line-height: 2;
}

.side_bar nav ul > li a {
  color: #333;
}

.content_wrap {
  position: absolute;
  top: 0;
  right: 0;
  width: 78%;
  height: 100%;
  overflow-y: scroll;
  background: #fff;
  padding: 0 32px;
  padding-top: 16px;
}
