<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../sass/css/common_style.css">
  <link rel="stylesheet" href="../sass/css/markdown.css">
  <link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  <title>{{ site.title }}</title>
</head>

<body>

  <!-- content start -->
  <section class="floating_body">

    <!-- side bar -->
    <aside class="side_bar">
      <header>
        <a href="#" class="logo"><img src="../image/Younlab Development.svg" alt="Younlab"></a>
      </header>

      <!-- nav -->
      <nav>
        <ul>
          <li><a href="">Display_manu01</a></li>
          <li><a href="">Display_manu02</a></li>
          <li><a href="">Display_manu03</a></li>
          <li><a href="">Display_manu04</a></li>
          <li><a href="">Display_manu05</a></li>
        </ul>
      </nav>
    </aside>

    <!-- main content -->
    <section class="content_wrap">
      {{ content }}
    </section>

  </section>
  <!-- content end -->

</body>

</html>
