<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../sass/css/common_style.css">
  <link rel="stylesheet" href="../sass/css/markdown.css">
  <title>Document</title>
</head>

<body>

  <aside class="side-bar">
    <a href="{{site.url}}" class="logo">
      <img src="../image/logo_Younlab.svg" alt="">
    </a>
    <nav class="nav-wrap">
      <ul>
        <li><a href="">Python</a></li>
        <li><a href="">TIL</a></li>
        <li><a href="">Settings</a></li>

      </ul>
    </nav>
  </aside>

  <section class="content-wrap">

      {{ content }}

  </section>
</body>

</html>
